$color_border: #eeeeee;
$color-font: #999999;
$inverst-color-font: #ffffff;
$color-font_error: red;

/* OVERFALL CSS */
a{
    text-decoration: none;
    color: $color-font;
}

/* FORM - error */
label.error{
    color: $color-font_error;
    font-size: 13px;
}
.warning{
    color: #c09853;
    background-color: #fcf8e3;
    padding: 1em;
    text-align: center;
}

/* DISPLAY LIST */
.submenu {
    text-align: center;
    font-size: 1.6em;
    line-height: 4em;
    border-bottom: 1px solid $color_border;
}
ul.list {
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        padding: 1em;
        border-bottom: 1px solid $color_border;
        position: relative;
        h3{
            margin: 0 0 .5em 0;
        }
        p{
            margin: 0;
        }
    }
}
.actions{
    position: absolute;
    top: 1em;
    right: 0;
}
/* DETAIL */
.content-detail{
    min-height: 88px;
}
.thumbnail{
    float: left;
    height: 96px;
    width: 96px;
    border-radius: 8px;
    background-size: cover;
    margin: 0 1em 1em 0;
}
/* DETAIL - Comment*/
.comments-list{
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }
}
.comment-detail{
    font-size: 13px;
    padding: .5em;
    background-color: #1F8DD6;
    color: $inverst-color-font;
}
.comment-detail-action {
    display: inline-block;
    float: right;
    a{
        color: $inverst-color-font;
    }
}
.comment-content{
    padding: 0 .5em 1.5em .5em;
    margin: 0;
}
.comment-list-title,
.comment-box-title{
    background-color: #eeeeee;
    padding: .5em .5em;
    font-weight: bold;
    font-size: 24px;
}

/* LOGIN PAGE */
.login_form{
    width: 200px;
    margin: 0 auto;
}
