{% extends "_base.twig" %}
{% block content %}

    <div class="header">
        <h1>Products</h1>
    </div>
    <div class="submenu">
        <a href="#">Add</a>
    </div>
    <div class="content">
    </div>

{% endblock %}
