{% extends "showcase_base.twig" %}
{% block content %}

    <div class="main">
        <div class="header">
            <p> Diversition Co., Ltd. </p>
        </div>
        <div class="signature">
            <p> I'm developer </p>
        </div>
    </div>

{% endblock %}
